.box button {
    width:100%;
    background-color: #1da1f2; 
    border-color: transparent;
}
.box button:hover{
    color:#1da1f2 ;
    background-color: white;
    border-color: #1da1f2;
} 
body {
    background-color: #fafafa;
}